*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, #EAD196, #ffafbf);
}
.navbar{
    height: 60px;
    width: 100%;
    padding-left: 12vw;
    padding-right: 12vw;
    background-color: #FA7070;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 2px;
}

.navbar img{
    width: 32px;
}

.navbar a{
    font-size: 18px;
    text-decoration: none;
    font-weight: 600;
    color: #141414;
}

.hero_section{
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: calc(100vh - 60px);
}

.hero_left{
    width: 50%;
    padding: 56px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.hero_left h1,.text_section h1{
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.hero_left p{
    font-weight: 100;
    line-height: 22px;
}
.hero_left button{
    padding: 12px 60px;
    max-width: 220px;
    border: none;
    background-color: #FA7070;
    color: #fff;
}

.hero_section img {
    height: calc(100vh - 60px);
    width: 50%;
    object-fit: cover;
    max-width: 100%;
    order: 2; 
}



.about_section{
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}
.image_section{
    width: 50%;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.left_section img{
    width: 100%;
    max-height: 240px;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 10px;
}
.last_img{
    max-height: 500px;
     object-fit: cover;
    display: block;
    margin: 10px;
}

.text_section{
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 50%;
    background-color: #FA7070;
    padding: 28px;
    max-width: 520px;
}
.text_section h3{
    font-size: 16px;
    font-weight: 200;
}
.text_with_image{
    display: flex;
    gap: 12px;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar a{
        display: none;
    }
    .hero_left,
    .hero_section img  {
        width: 100%;
        order: unset; 
    }
    .text_section,
    .image_section{
        width: 100%;
    }
    .image_section{
        padding: 10px;
        gap: 10px;
    }
    .left_section{
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .left_section img{
        width: calc(50% - 10px);
    }
    .last_img{
        width: 100%;
    }
}